<form action="/rnode/<%= host %>/<%= port %>/#/dashboard" method="get" target="_blank">
  <button class="btn btn-primary" type="submit">
    <i class="fa fa-registered"></i> Connect to RClone Server
  </button>
</form>
